allowed_dir = torrents
announce_interval = 900
bind = 
bnbt_access_admin = 32
bnbt_access_allow_offers = 16
bnbt_access_bookmark = 2
bnbt_access_comments = 4
bnbt_access_comments_always = 16
bnbt_access_comments_to_message = 8
bnbt_access_create_users = 32
bnbt_access_del_comments = 16
bnbt_access_del_offers = 16
bnbt_access_del_own = 1
bnbt_access_del_torrents = 16
bnbt_access_del_users = 32
bnbt_access_down_announce = 2
bnbt_access_down_torrents = 2
bnbt_access_dump_xml = 32
bnbt_access_edit_admins = 64
bnbt_access_edit_comments = 16
bnbt_access_edit_offers = 16
bnbt_access_edit_own = 1
bnbt_access_edit_torrents = 16
bnbt_access_edit_users = 32
bnbt_access_invites = 8
bnbt_access_log_dir = 
bnbt_access_log_file_pattern = %Y-%m-%da.log
bnbt_access_messages = 1
bnbt_access_req = 2
bnbt_access_rss = 1
bnbt_access_show_ip = 16
bnbt_access_signup = 1
bnbt_access_signup_direct = 32
bnbt_access_sort_ip = 32
bnbt_access_upload_offers = 4
bnbt_access_upload_posts = 32
bnbt_access_upload_torrents = 8
bnbt_access_user_detail = 16
bnbt_access_view = 1
bnbt_access_view_log = 32
bnbt_access_view_offers = 1
bnbt_access_view_stats = 1
bnbt_access_view_torrents = 1
bnbt_access_view_users = 16
bnbt_access_view_xstates = 32
bnbt_allow_comments = 1
bnbt_allow_info_link = 0
bnbt_allow_magnet_downloads = 0
bnbt_allow_scrape = 1
bnbt_allow_search = 1
bnbt_allow_serve_local = 1
bnbt_allow_sort = 1
bnbt_allow_torrent_downloads = 1
bnbt_announce_access_required = 0
bnbt_announce_list_enable = 1
bnbt_announcements_max = 3
bnbt_archive_dir = 
bnbt_bonus_trade_enable = 1
bnbt_bonus_trade_rate = 100
bnbt_bonus_trade_ratio_limit = 5.0
bnbt_charset = utf-8
bnbt_comment_length = 800
bnbt_compression_level = 6
bnbt_count_unique_peers = 1
bnbt_custom_announce = 
bnbt_custom_scrape = 
bnbt_debug = 0
bnbt_debug_level = 9
bnbt_delete_invalid = 0
bnbt_delete_own_torrents = 1
bnbt_dump_xml_dir = stylesheets
bnbt_dump_xml_file = filedump.xml
bnbt_dump_xml_interval = 600
bnbt_dump_xml_peers = 1
bnbt_dump_xml_url = 
bnbt_encodes = xvid|x264|mp3|ape|flac
bnbt_error_log_dir = 
bnbt_error_log_file_pattern = %Y-%m-%de.log
bnbt_external_torrent_dir = 
bnbt_faq_dir = faq
bnbt_file_dir = files
bnbt_file_expires = 1440
bnbt_flush_interval = 100
bnbt_force_announce_on_download = 1
bnbt_force_announce_on_upload = 1
bnbt_force_announce_url = http://yourdomain/announce
bnbt_free_down_global = 0
bnbt_free_global = 0
bnbt_free_rule_1 = 101||!rmvb !flv ![rm]|0|100|100|0|100|3
bnbt_free_rule_10 = 401 501 601||!rmvb !flv !f4v ![rm]|4|50|100|0|100|9
bnbt_free_rule_11 = 401 501 601||!rmvb !flv !f4v ![rm]|8|30|100|0|100|12
bnbt_free_rule_12 = 105 201 202 203 204 205 206 305||!rmvb !flv ![rm]|0|100|100|0|100|3
bnbt_free_rule_13 = 105 201 202 203 204 205 206 305|720p 720a|!rmvb !flv ![rm]|0|50|100|0|100|6
bnbt_free_rule_14 = 105 201 202 203 204 205 206 305|1080p 1080i|!rmvb !flv ![rm]|0|30|100|0|100|9
bnbt_free_rule_2 = 102|||0|50|100|0|100|6
bnbt_free_rule_3 = 103|||0|30|100|0|100|9
bnbt_free_rule_4 = 104|||0|30|100|0|100|12
bnbt_free_rule_5 = 701|||0|0|100|100|100|0
bnbt_free_rule_6 = 301 302 303 304 305 306|ape flac wav|!mp3|0|100|100|0|100|3
bnbt_free_rule_7 = 105||!rmvb !flv ![rm]|0|100|100|0|100|3
bnbt_free_rule_8 = 401 501 601||!rmvb !flv !f4v ![rm]|1|100|100|0|100|3
bnbt_free_rule_9 = 401 501 601||!rmvb !flv !f4v ![rm]|2|100|100|0|100|6
bnbt_free_rule_down_default = 100
bnbt_free_rule_time_default = 0
bnbt_free_rule_up_default = 100
bnbt_free_up_global = 100
bnbt_get_seed_bonus_interval = 300
bnbt_guest_access = 1
bnbt_hot_count = 20
bnbt_hot_day = 3
bnbt_info_access_required = 0
bnbt_invite_enable = 1
bnbt_ipv6_enable = 1
bnbt_language = zh
bnbt_listen_backlog = 32
bnbt_log_dir = log
bnbt_log_file_pattern = %Y-%m-%d.log
bnbt_log_show_day = 3
bnbt_max_conns = 2048
bnbt_max_peers_display = 500
bnbt_max_recv_size = 3145728
bnbt_max_torrents = 0
bnbt_max_users = 29999
bnbt_mediums = dvdrip|hdtv|bdrip|bluray
bnbt_member_access = 7
bnbt_message_length = 800
bnbt_name_length = 16
bnbt_new_interval_default = 3600
bnbt_new_interval_min = 300
bnbt_new_torrent_interval = 60
bnbt_new_user_gift_bonus = 0
bnbt_new_user_gift_downloaded = 0
bnbt_new_user_gift_uploaded = 0
bnbt_parse_on_start = 0
bnbt_parse_on_upload = 1
bnbt_password_key = SET YOUR OWN PASSWORD KEY
bnbt_per_page = 50
bnbt_pid_file = xbnbt.pid
bnbt_private_tracker_flag = 0
bnbt_public_option = 0
bnbt_public_upload_dir = 
bnbt_qualities = 720p|1080i|1080p
bnbt_rating = 
bnbt_ratio_day_limit = 1
bnbt_ratio_restrict = 1
bnbt_realm = XBNBT
bnbt_refresh_config_interval = 60
bnbt_refresh_fast_cache_interval = 30
bnbt_refresh_imdb_interval = 1
bnbt_refresh_static_interval = 10
bnbt_restart_interval = 0
bnbt_robots_txt = robots/robots.txt
bnbt_rss_channel_copyright = 
bnbt_rss_channel_image_height = 0
bnbt_rss_channel_image_url = favicon.ico
bnbt_rss_channel_image_width = 0
bnbt_rss_channel_managingeditor = 
bnbt_rss_channel_ttl = 60
bnbt_rss_directory = stylesheets
bnbt_rss_file = rss.html
bnbt_rss_file_mode = 0
bnbt_rss_interval = 30
bnbt_rss_limit = 25
bnbt_rss_online_dir = 
bnbt_rss_top_ten_file = topten.xml
bnbt_rules_dir = rules
bnbt_scrape_access_required = 0
bnbt_share_control_down = 300|200|120|60|30|0
bnbt_share_control_ratio = 0.7|0.6|0.5|0.4|0.3|-2
bnbt_show_added = 1
bnbt_show_added_index = 1
bnbt_show_average_dl_rate = 1
bnbt_show_average_left = 0
bnbt_show_average_ul_rate = 1
bnbt_show_completed = 1
bnbt_show_file_comment = 0
bnbt_show_file_contents = 1
bnbt_show_gen_time = 0
bnbt_show_header_footer = 1
bnbt_show_info_hash = 0
bnbt_show_left_as_progress = 0
bnbt_show_max_left = 0
bnbt_show_min_left = 0
bnbt_show_navbar = 1
bnbt_show_num_files = 0
bnbt_show_peer_info = 3
bnbt_show_share_ratios = 1
bnbt_show_size = 1
bnbt_show_stats = 1
bnbt_show_transferred = 0
bnbt_show_uploader = 1
bnbt_show_uploader_ip = 0
bnbt_show_validator = 0
bnbt_signup_lily_enable = 0
bnbt_static_footer = html/footer.html
bnbt_static_header = html/header.html
bnbt_stats_dump_interval = 300
bnbt_stats_file = database/stats.bnbt
bnbt_style_sheet = xbnbt.css
bnbt_style_sheet_dir = stylesheets
bnbt_style_sheet_url = 
bnbt_tag101 = 电影 (标清)|files/tagsnew/Movies_SD.PNG|files/tagsnew/Movies_SD.PNG
bnbt_tag102 = 电影 (720p)|files/tagsnew/Movies_720p.PNG|files/tagsnew/Movies_720p.PNG
bnbt_tag103 = 电影 (1080p)|files/tagsnew/Movies_1080p.PNG|files/tagsnew/Movies_1080p.PNG
bnbt_tag104 = 电影 (原盘)|files/tagsnew/Movies_BluRay.PNG|files/tagsnew/Movies_BluRay.PNG
bnbt_tag105 = 纪录片|files/tagsnew/Documentaries.PNG|files/tagsnew/Documentaries.PNG
bnbt_tag201 = 剧集 (欧美)|files/tagsnew/TV_Western.PNG|files/tagsnew/TV_Western.PNG
bnbt_tag202 = 剧集 (大陆)|files/tagsnew/TV_Cn.PNG|files/tagsnew/TV_Cn.PNG
bnbt_tag203 = 剧集 (港台)|files/tagsnew/TV_hk_tw.PNG|files/tagsnew/TV_hk_tw.PNG
bnbt_tag204 = 剧集 (日韩)|files/tagsnew/TV_Japan_korea.PNG|files/tagsnew/TV_Japan_korea.PNG
bnbt_tag205 = 电视 (综艺)|files/tagsnew/TV_Shows.PNG|files/tagsnew/TV_Shows.PNG
bnbt_tag206 = 电视 (体育)|files/tagsnew/TV_Sports.PNG|files/tagsnew/TV_Sports.PNG
bnbt_tag301 = 音乐 (华语)|files/tagsnew/Music_Cn.PNG|files/tagsnew/Music_Cn.PNG
bnbt_tag302 = 音乐 (欧美)|files/tagsnew/Music_Western.PNG|files/tagsnew/Music_Western.PNG
bnbt_tag303 = 音乐 (日韩)|files/tagsnew/Music_Asia.PNG|files/tagsnew/Music_Asia.PNG
bnbt_tag304 = 音乐 (古典)|files/tagsnew/Music_Classic.PNG|files/tagsnew/Music_Classic.PNG
bnbt_tag305 = 音乐 (MV)|files/tagsnew/Music_Video.PNG|files/tagsnew/Music_Video.PNG
bnbt_tag306 = 音乐 (其它)|files/tagsnew/Music_Others.PNG|files/tagsnew/Music_Others.PNG
bnbt_tag401 = 动漫|files/tagsnew/Animations.PNG|files/tagsnew/Animations.PNG
bnbt_tag501 = 游戏|files/tagsnew/Games.PNG|files/tagsnew/Games.PNG
bnbt_tag601 = 软件|files/tagsnew/Applications.PNG|files/tagsnew/Applications.PNG
bnbt_tag701 = 学习|files/tagsnew/Studies.PNG|files/tagsnew/Studies.PNG
bnbt_tag801 = 图片|files/tagsnew/Pictures.PNG|files/tagsnew/Pictures.PNG
bnbt_tag901 = 其它|files/tagsnew/Others.PNG|files/tagsnew/Others.PNG
bnbt_talk_length = 140
bnbt_thanks_bonus = 3
bnbt_timer_interval = 3600
bnbt_tlink_bind = 
bnbt_tlink_connect = 
bnbt_tlink_password = 
bnbt_tlink_port = 5204
bnbt_tlink_server = 0
bnbt_torrent_expires = 180
bnbt_tracker_description = Powered by XBNBT ZiJing Mod
bnbt_tracker_fqdn = 
bnbt_tracker_keywords = bittorrent, torrent, tracker, XBNBT
bnbt_tracker_source = XBNBT
bnbt_tracker_subtitle = 基于IPv6的简单高效分享平台
bnbt_tracker_title = XBNBT
bnbt_upload_dir = torrents
bnbt_uploader_bonus_quota = 10
bnbt_uploader_bonus_size_unit_mb = 10
bnbt_use_announce_key = 1
bnbt_use_mouseovers = 0
bnbt_users_per_page = 50
bnbt_webmaster = 
cbtt_ban_file = database/clientbans.bnbt
cbtt_ban_mode = 2
cbtt_blacklist_common_p2p_ports = 0
cbtt_block_private_ip = 1
cbtt_block_search_robots = 0
cbtt_dont_compress_torrents = 1
cbtt_ip_ban_mode = 1
cbtt_ipban_file = database/bans.bnbt
cbtt_ipblock_file = database/blocks.bnbt
cbtt_restrict_overflow = 0
cbtt_restrict_overflow_limit = 1099511627776
cbtt_restricted_peer_spoofing = 0
cbtt_service_name = BNBT Service
downloader_timeout_interval = 1800
favicon = favicon.ico
favicon_dir = images
image_bar_dir = images
image_bar_fill = imagebarfill.png
image_bar_trans = imagebartrans.png
image_bar_url = 
keep_dead = 1
max_give = 200
min_request_interval = 1800
mysql_cbtt_ttrader_support = 0
mysql_database = bnbt
mysql_host = localhost
mysql_override_dstate = 0
mysql_password = 
mysql_port = 3306
mysql_refresh_allowed_interval = 0
mysql_refresh_stats_interval = 600
mysql_user = xbnbt
offer_dir = offer
only_local_override_ip = 0
parse_allowed_interval = 0
port = 80
response_size = 50
save_dfile_interval = 300
show_names = 1
socket_timeout = 15
userbar = userbar.png
userbar_dir = images
userbar_font_cn = /usr/share/fonts/truetype/yahei/YaHei.Consolas.1.11b.ttf
userbar_font_en = /usr/share/fonts/truetype/msttcorefonts/trebuc.ttf
userbar_user_color_admin = 75,0,130
userbar_user_color_friends = 255,140,0
userbar_user_color_leader = 160,82,45
userbar_user_color_member = 0,0,0
userbar_user_color_moderator = 0,102,255
userbar_user_color_retired = 28,198,213
userbar_user_color_share_warned = 112,128,144
userbar_user_color_uploader = 220,20,60
userbar_user_color_vip = 0,159,0
xbnbt_announce_list1 = 
xbnbt_dynstat_background = 0
xbnbt_dynstat_dir = database
xbnbt_dynstat_file = dynstat.bnbt
xbnbt_dynstat_font = 
xbnbt_dynstat_font_blue = 255
xbnbt_dynstat_font_green = 255
xbnbt_dynstat_font_red = 255
xbnbt_dynstat_generate = 0
xbnbt_dynstat_interval = 10
xbnbt_dynstat_jpg_quality = -1
xbnbt_dynstat_link = 
xbnbt_dynstat_output_type = 0
xbnbt_dynstat_png_compress = -1
xbnbt_dynstat_savemode = 0
xbnbt_dynstat_showlink = 0
xbnbt_dynstat_skin = 0
xbnbt_dynstat_skinfile = 
xbnbt_dynstat_x_size = 350
xbnbt_dynstat_y_size = 80
xbnbt_mysqlusers_database = forum
xbnbt_mysqlusers_forums_admin = admin
xbnbt_mysqlusers_forums_link = http://localhost/forums/index.php?act=Reg
xbnbt_mysqlusers_host = localhost
xbnbt_mysqlusers_ignore_group1 = 1
xbnbt_mysqlusers_ignore_group2 = 2
xbnbt_mysqlusers_ignore_group3 = 5
xbnbt_mysqlusers_interval = 10
xbnbt_mysqlusers_mode = 0
xbnbt_mysqlusers_override_users = 0
xbnbt_mysqlusers_password = 
xbnbt_mysqlusers_port = 3306
xbnbt_mysqlusers_table = ibf_members
xbnbt_mysqlusers_table_email = email
xbnbt_mysqlusers_table_group = mgroup
xbnbt_mysqlusers_table_id = id
xbnbt_mysqlusers_table_joined = joined
xbnbt_mysqlusers_table_name = name
xbnbt_mysqlusers_table_password = password
xbnbt_mysqlusers_user = 
xbnbt_rss_valid_image = images/valid-rss.png
xbnbt_so_recbuf = 128
xbnbt_so_sndbuf = 128
xbnbt_tcp_nodelay = 0
xbnbt_thlink_bind = 
xbnbt_thlink_connect = 
xbnbt_thlink_password = 
xbnbt_thlink_port = 5205
xbnbt_thlink_server = 0
xbnbt_use_buttons = 0
xbnbt_users_online = 1
