/* ----- xbnbt.css by =Xotic= for use with XBNBT 81b.3.5  ---- */

/* ----- general ----- */
	/* ----- standard body elements ----- */
/*		body{background-color:#1E90FF}*/
/*		body{background-color:#ffbc80}*/
		body{background-color:#ccccff}
		body{font-family:"tahoma", "arial", "helvetica", "sans-serif";}
		body{font-size:12pt}
		body{color:black}
		body{font-weight:normal}
	/* ----- standard heading elements ----- */
	/*	h1{font-size:20pt; color:Black}*/
		h1{font-size:18pt; color:Black; font-weight:normal}
		h1{letter-spacing:0.025cm; text-align:center}
		h2{font-size:15pt; color:Black; font-weight:normal}
		h2{letter-spacing:0.025cm; text-align:center}
		h3{font-size:12pt; color:Black; font-weight:normal}
		h3{letter-spacing:0.025cm; text-align:center; white-space:normal}
		h4{font-size:9pt; color:Black; font-weight:normal}
		h4{letter-spacing:0.025cm; text-align:center}
	/* ----- standard text elements ----- */
		p{font-family:"tahoma", "arial", "helvetica", "sans-serif";}
		p{font-size:9pt; color:black}
		span{font-size:9pt}
	/* ----- standard hypertext elements ----- */
		a{text-decoration:underline; font-size:9pt; font-weight:bold; color:black}
		a:hover{text-decoration:underline; color:red}
	/*	a:hover{color:#404040}		*/
	/* ----- standard input elements ----- */
		input{font-family:"tahoma", "arial", "helvetica", "sans-serif";}
		input{font-size:9pt}
		input{overflow:hidden}
		textarea{font-family:"tahoma", "arial", "helvetica", "sans-serif";}
		textarea{font-size:9pt}
		iframe{width:100%; height:42px}
		iframe{border-width:0px}
		iframe{overflow:hidden} 
	/* ----- standard image elements ----- */
		img{border-width:0px}
		img{vertical-align:top}
		img{max-width:750px}
	/* ----- standard table elements ----- */
		table{margin-left:auto; margin-right:auto}
/*		table{border-width:2pt}*/
		table{border-collapse:collapse}
		table{background-color:#efefef}
	/*	table{border:2px solid #ffa24a } ----- optional border around entire table ----- */
	/* ----- standard table rows ----- */
		tr{}
	/* ----- standard table headers ----- */
/*		th{background-color:#ffa24a}*/
		th{background-color:#8080ff}
		th{white-space:normal}
		th{font-family:"tahoma", "arial", "helvetica", "sans-serif";}
		th{font-size:9pt; color:black}
		th{padding:5px 5px 5px 5px}
		th{border:1px solid #ccccff}
		th{vertical-align:middle}
	/* ----- standard table data ----- */
		td{font-size:9pt}
		td{padding:5px 10px 5px 10px}
		td{white-space:nowrap}
		td{border:1px solid #ccccff}
		code{font-family:"tahoma", "arial", "helvetica", "sans-serif";}
		code{font-size:9pt}
	/* ----- specific text elements ----- */
		p.delete{text-align:center}
		p.deleted{text-align:center}
		p.search_results{text-align:center}
		p.search_filter{text-align:center}
		p.results{font-size:9pt; text-align:center}
		p.denied{text-align:center}
		p.unauthorized{text-align:center}
		p.js_warning{text-align:center; font-size:medium}
		p.redirect{text-align:center}
		p.not_exist{text-align:center}
	/* ----- specific hypertext elements ----- */
		a.top_title{font-size:16pt; text-decoration:none}
		a.top_title:hover{text-decoration:none}
		a.sort{font-size:8pt; color:red}
		a.sort:hover{color:white}
		a.hot{color:red; text-decoration:none}
		a.hot:hover{text-decoration:underline}
		a.bookmark{color:green; text-decoration:none}
		a.bookmark:hover{text-decoration:underline}
		a.share{color:purple; text-decoration:none}
		a.share:hover{text-decoration:underline}
		a.noshare{color:red; text-decoration:none}
		a.noshare:hover{text-decoration:underline}
		a.friend{color:#8B008B; text-decoration:none}
		a.friend:hover{text-decoration:underline}
		a.black{color:black; text-decoration:none}
		a.black:hover{text-decoration:underline}
		a.red{color:red; text-decoration:none}
		a.red:hover{text-decoration:underline}
		a.green{color:green; text-decoration:none}
		a.green:hover{text-decoration:underline}
		a.blue{color:blue; text-decoration:none}
		a.blue:hover{text-decoration:underline}
		a.rss_valid{}
		a.rss_valid:hover{}			
		a.username{color:blue; text-decoration:none}
		a.username:hover{text-decoration:underline}
		a.friends{color:#ff8c00; text-decoration:none}
		a.friends:hover{text-decoration:none}
		a.retired{color:#1cc6d5; text-decoration:none}
		a.retired:hover{text-decoration:none}
		a.vip{color:#009f00; text-decoration:none}
		a.vip:hover{text-decoration:none}
		a.leader{color:#a0522d; text-decoration:none}
		a.leader:hover{text-decoration:none}
		a.admin{color:#4b0082; text-decoration:none}
		a.admin:hover{text-decoration:none}
		a.moderator{color:#0066ff; text-decoration:none}
		a.moderator:hover{text-decoration:none}
		a.uploader{color:#dc143c; text-decoration:none}
		a.uploader:hover{text-decoration:none}
		a.member{color:black; text-decoration:none}
		a.member:hover{text-decoration:none}
		a.banned{color:#708090; text-decoration:none}
		a.banned:hover{text-decoration:none}
		a.share_warned{color:#708090; text-decoration:none}
		a.share_warned:hover{text-decoration:none}
		a.number{text-decoration:none}
		a.number:hover{text-decoration:underline}
	/* ----- specific div elements ----- */
	/* ----- specific table elements ----- */
		table.quote{margin:5px 0px 5px 0px}
		table.top_header{width:100%}
		table.top_bar{width:100%}
		table.top_bar{margin-top:5px;margin-bottom:5px}
	/* ----- specific table rows ----- */
		tr.top_header{background-color:#ccccff}
		tr.own{background-color:#bbaf9b}
		tr.even{background-color:#dee3e7}
		tr.odd{background-color:#efefef}
		tr.top_bar{background-color:#efefef}
		tr.top_bar{border:1px solid #ccccff}
	/* --- specific table headers --- */
		th.tag{background-color:#8080ff}
		th.tag{border-width:1px 0px 1px 0px}
		th.name{background-color:#8080ff}
		th.name{border-width:1px 0px 1px 0px}
		th.download{background-color:#8080ff}
		th.number{background-color:#8080ff}
		th.number{border-width:1px 0px 1px 0px}
		th.date{background-color:#8080ff}
		th.date{border-width:1px 0px 1px 0px}
		th.bytes{background-color:#8080ff}
		th.bytes{border-width:1px 0px 1px 0px}
		th.percent{background-color:#8080ff; white-space:nowrap}
		th.uploader{background-color:#8080ff}
		th.uploader{border-width:1px 0px 1px 0px}
		th.admin{border-width:1px 0px 1px 0px}
		th.exist{border-width:1px 0px 1px 0px}
		th.seeded{border-width:1px 0px 1px 0px}
	/* ----- specific table data ----- */
		td.top_avatar{background-color:#ccccff}
		td.top_avatar{border:0px}
		td.top_avatar{text-align:center}
		td.top_avatar{padding:0px 5px 0px 5px}
		td.static_header{background-color:#ccccff}
		td.static_header{border:0px}
		td.static_header{width:100%}
		td.static_header{text-align:center}
		td.quote{background-color:#efefef}
		td.quote{border:1px black dotted}
		td.quote{white-space:normal}
		td.even{background-color:#dee3e7}
		td.odd{background-color:#efefef}
		td.top_login{text-align:left}
		td.top_login{width:100%}
		td.top_login{border:0px}
		td.top_tool{text-align:right; vertical-align:top}
		td.top_tool{border:0px}
		td.tag{text-align:center}
		td.tag{padding:0px 0px 0px 0px}
		td.tag{border-width:1px 0px 1px 0px}
		td.admin{text-align:center}
		td.admin{padding:5px 5px 5px 5px}
		td.admin{border-width:1px 0px 1px 0px}
		td.hash{text-align:left}
		td.name{padding:5px 5px 5px 5px}
		td.name{border-width:1px 0px 1px 0px}
		td.name{white-space:normal} /* change to normal to wrap long lines */
		td.name{text-align:left}
		td.uploader{text-align:center}
		td.uploader{padding:5px 5px 5px 5px}
		td.uploader{border-width:1px 0px 1px 0px}
		td.number{text-align:center}
		td.number{padding:5px 5px 5px 5px}
		td.number{border-width:1px 0px 1px 0px}
		td.number_red{text-align:center}
		td.number_red{color:red}
		td.number_red{padding:5px 5px 5px 5px}
		td.number_red{border-width:1px 0px 1px 0px}
		td.number_green{text-align:center}
		td.number_green{color:green}
		td.number_green{padding:5px 5px 5px 5px}
		td.number_green{border-width:1px 0px 1px 0px}
		td.number_blue{text-align:center}
		td.number_blue{color:blue}
		td.number_blue{padding:5px 5px 5px 5px}
		td.number_blue{border-width:1px 0px 1px 0px}
		td.percent{text-align:center; white-space:nowrap}
		td.date{text-align:center; white-space:nowrap}
		td.date{padding:5px 5px 5px 5px}
		td.date{border-width:1px 0px 1px 0px}
		td.bytes{text-align:center; white-space:nowrap}
		td.bytes{padding:5px 5px 5px 5px}
		td.bytes{border-width:1px 0px 1px 0px}
	/* ----- specific image elements ----- */
		img.avatar{width:200px}
		img.avatar{margin:0px 0px 0px 0px}
		img.percent{border-width:0px; white-space:nowrap}
		img.tag{border-width:0px}
		img.code{margin:2px 2px 2px 2px} 
	/* ----- specific span elements ----- */
		span.top_subtitle{font-size:9pt}
		span.top_subtitle{vertical-align:bottom}
		span.pipe{color:#ccccff}
		span.pagenum_pipe{color:black}
		span.underlined{text-decoration:underline}
		span.nowrap{white-space:normal}
		span.ip{color:blue}
		span.filtered_by{color:black}
		span.search_results_alt{text-align:center}
		span.top_login1{font-size:9pt}
		span.top_login2{font-size:9pt}
		span.friends{color:#ff8c00; font-weight:bold}
		span.retired{color:#1cc6d5; font-weight:bold}
		span.vip{color:#009f00; font-weight:bold}
		span.leader{color:#a0522d; font-weight:bold}
		span.admin{color:#4b0082; font-weight:bold}
		span.moderator{color:#0066ff; font-weight:bold}
		span.uploader{color:#dc143c; font-weight:bold}
		span.member{color:black; font-weight:bold}
		span.banned{color:#708090; font-weight:bold}
		span.share_warned{color:#708090; font-weight:bold}
		span.black{color:black}
		span.grey{color:grey}
		span.purple{color:purple}
		span.blue{color:blue}
		span.green{color:green}
		span.red{color:red}
		span.italic{font-style:italic}
		span.user_title{color:red; font-weight:bold}
	/* ----- specific fieldset elements ----- */	
		fieldset.quote{margin:5px 0px 5px 0px}
		fieldset.quote{background-color:#efefef}
		fieldset.quote{border:1px black dotted}
		fieldset.quote{white-space:normal}
		legend{background-color:#efefef}
		legend{border:1px black dotted}

/* ----- header  ----- */
		div.static_header{}
		hr.header{}

/* ----- footer  ----- */
		hr.footer{}

/* ----- navbar  ----- */
		table.navbar{margin-top:5px; margin-bottom:5px}
		table.navbar{background-color:transparent}
		td.navbar_index{border:0px}
		a.navbar_index{font-size:10pt}
		td.navbar_login{border:0px}
		a.navbar_login{font-size:10pt}
		td.navbar_offer{border:0px}
		a.navbar_offer{font-size:10pt}
		td.navbar_upload{border:0px}
		a.navbar_upload{font-size:10pt}
		td.navbar_logout{border:0px}
		a.navbar_logout{font-size:10pt}
		td.navbar_signup{border:0px}
		a.navbar_signup{font-size:10pt}
		td.navbar_rss{border:0px}
		a.navbar_rss{font-size:10pt}
		td.navbar_xml{border:0px}
		a.navbar_xml{font-size:10pt}
		td.navbar_info{border:0px}
		a.navbar_info{font-size:10pt}
		td.navbar_rules{border:0px}
		a.navbar_rules{font-size:10pt}
		td.navbar_faq{border:0px}
		a.navbar_faq{font-size:10pt}
		td.navbar_staff{border:0px}
		a.navbar_staff{font-size:10pt}
		td.navbar_rank{border:0px}
		a.navbar_rank{font-size:10pt}
		td.navbar_log{border:0px}
		a.navbar_log{font-size:10pt}
		td.navbar_admin{border:0px}
		a.navbar_admin{font-size:10pt}
		td.navbar_users{border:0px}
		a.navbar_users{font-size:10pt}
		td.navbar_tags{border:0px}
		a.navbar_tags{font-size:10pt}
		td.navbar_language{border:0px}
		a.navbar_language{font-size:10pt}
		td.navbar_xstats{border:0px}
		a.navbar_xstats{font-size:10pt}
		td.navbar_xtorrent{border:0px}
		a.navbar_xtorrent{font-size:10pt}
		a.navbar_rules{color:blue}
		a.navbar_faq{color:red}
		span.navbar_new{font-size:10pt; color:red; font-weight:bold}
		
/* ----- index.html  ----- */
	/* ----- navbar ----- */

	/* ----- footer ----- */
		p.links{text-align:center} /* used in footer.html */
		p.users_online{color:blue; text-align:center}
		p.powered_by{text-align:center}
		p.gen_index{text-align:center}
		p.html_valid_index{text-align:center}
	/* ----- specific ----- */
		table.main_table{width:100%}
		table.main_table{background-color:#f5f4eb}
		table.torrent_table{text-align:center}
		table.index_filter{text-align:left}
		table.index_filter{background-color:transparent}
		table.index_announce{margin-top:5px; margin-bottom:5px}
		table.index_messages_unread{margin-top:5px; margin-bottom:5px}
		table.index_warned{margin-top:5px; margin-bottom:5px}
		table.index_ratio_warned{margin-top:5px; margin-bottom:5px}
		table.index_name{width:100%}
		table.index_name{background-color:transparent}
		tr.top_global{background-color:#A2A2FF}
		tr.top{background-color:#b5b5ff}
		tr.top_float{background-color:#dee3e7}
		tr.normal{background-color:#efefef}
		tr.hl{background-color:#efefef}
		tr.top_split{background-color:#f5f4eb}
		tr.index_name{background-color:transparent}
		td.top_split{border:0px}
		td.top_split{padding-top:3px; padding-bottom:3px}
		td.main_table_torrent{padding:10px 10px 10px 10px}
		td.index_announce{background-color:blue}
		td.index_announce{border:0px}
		td.index_announce{padding:10px 10px 10px 10px}
		td.index_messages_unread{background-color:red}
		td.index_messages_unread{border:0px}
		td.index_messages_unread{padding:10px 10px 10px 10px}
		td.index_warned{background-color:red}
		td.index_warned{color:white; font-weight:bold}
		td.index_warned{border:0px}
		td.index_warned{padding:10px 10px 10px 10px}
		td.index_ratio_warned{background-color:yellow}
		td.index_ratio_warned{color:black; font-weight:bold}
		td.index_ratio_warned{border:0px}
		td.index_ratio_warned{padding:10px 10px 10px 10px}
		td.index_filter{border:0px}
		td.index_filter{padding:5px 2px 5px 2px}
		td.index_filter_selected{border:0px}
		td.index_filter_selected{padding:5px 2px 5px 2px}
		td.index_filter_selected{background-color:#efefef}
		td.index_tag{text-align:center}
		td.index_tag{padding:0px 5px 0px 0px}
		td.index_tag{border-width:1px 0px 1px 0px}
		td.index_admin{text-align:center}
		td.index_admin{padding:5px 5px 5px 5px}
		td.index_admin{border-width:1px 0px 1px 0px}
		/*td.index_name{line-height:1.5em}*/
		td.index_name{padding:5px 5px 3px 5px}
		td.index_name{border-width:1px 0px 0px 0px}
		/*td.index_name{white-space:normal}*/ /* change to normal to wrap long lines */
		/*td.index_name{text-align:left}*/
		td.download_left{text-align:left; line-height:1.5em}
		td.download_left{padding:0px 0px 0px 0px}
		td.download_left{border:0px}
		td.download_left{white-space:normal}
		td.index_uploader{text-align:center}
		td.index_uploader{padding:3px 5px 3px 5px}
		td.index_uploader{border-width:1px 0px 1px 0px}
		td.second_left{border-right:0px}
		td.second_left{text-align:right}
		td.second_left{padding:3px 5px 5px 5px}
		td.second_left{border-width:0px 0px 1px 0px}
		td.second_left_tool{border-left:0px}
		td.second_left_tool{border-right:0px}
		td.second_left_tool{text-align:right}
		td.second_left_tool{padding:3px 5px 5px 5px}
		td.second_left_tool{border-width:0px 0px 1px 0px}
		td.download{text-align:right}
		td.download{line-height:1.5em}
		td.download{padding:0px 0px 0px 0px}
		td.download{border:0px}
		td.second_middle{border-width:0px 0px 1px 0px}
		td.second_middle{text-align:left}
		td.second_middle{padding:0px 5px 5px 5px}
		td.second_right{border-width:0px 0px 1px 0px}
		td.second_right{text-align:right}
		td.second_right{padding:0px 5px 5px 0px}
		td.second_blank{border-width:0px 1px 1px 0px}
		td.second_blank{text-align:left}
		td.second_blank{padding:3px 5px 5px 0px}
		td.index_comment{text-align:center}
		td.index_comment{border-width:1px 0px 1px 0px}
		td.index_comment{padding:5px 5px 5px 5px}
		td.index_date{text-align:center}
		td.index_date{padding:5px 5px 5px 5px}
		td.index_date{border-width:1px 0px 1px 0px}
		td.index_bytes{text-align:center}
		td.index_bytes{padding:5px 5px 5px 5px}
		td.index_bytes{border-width:1px 0px 1px 0px}
		a.classic_level_1{color:#9400d3; text-decoration:none}
		a.classic_level_1:hover{text-decoration:underline}
		a.classic_level_2{color:#820084; text-decoration:none}
		a.classic_level_2:hover{text-decoration:underline}
		a.classic_level_3{color:#77b300; text-decoration:none}
		a.classic_level_3:hover{text-decoration:underline}
		a.stats{text-decoration:none}
		a.stats:hover{text-decoration:underline}
		a.stats_top{text-decoration:none}
		a.stats_top:hover{text-decoration:underline}
		a.stats_free{color:blue; text-decoration:none}
		a.stats_free:hover{text-decoration:underline}
		a.stats_hl{color:#9400d3; text-decoration:none}
		a.stats_hl:hover{text-decoration:underline}
		a.index_announce{color:white; text-decoration:none}
		a.index_announce:hover{text-decoration:underline}
		a.index_messages_unread{color:white; text-decoration:none}
		a.index_messages_unread:hover{text-decoration:underline}
		a.index_filter{text-decoration:none}
		a.filter_by{text-decoration:none}
		a.imdb{font-size:8pt; font-weight:normal; text-decoration:none}
		a.imdb{font-family:"georgia", "tahoma", "arial", "helvetica", "sans-serif";}
		a.bookmark_icon{margin-left:0.5em}
		a.download_icon{margin-left:0.5em}
		a.number6_green{color:green; text-decoration:none}
		a.number6_green{vertical-align:middle}
		a.number6_green:hover{text-decoration:underline}
		a.number6_blue{color:blue; text-decoration:none}
		a.number6_blue{vertical-align:middle}
		a.number6_blue:hover{text-decoration:underline}
		a.index_share{text-decoration:none; font-weight:normal; color:grey;}
		a.index_share{margin-left:1em}
		a.index_share:hover{color:purple}
		a.index_thanks{text-decoration:none; font-weight:normal; color:purple}
		/*a.index_thanks{margin-left:0.5em}*/
		/*a.index_thanks{padding-left:3px; padding-right:3px}*/
		a.index_thanks:hover{background-color:purple}
		a.index_thanks:hover{color:white}
		a.index_comments{text-decoration:none; font-weight:normal; color:grey}
		a.index_comments:hover{color:black}
		a.index_subs{text-decoration:none; font-weight:normal; color:grey}
		a.index_subs:hover{color:black}
		a.index_req{text-decoration:none; font-weight:normal; color:red}
		/*a.index_req{margin-left:1em}*/
		a.index_req:hover{background-color:red}
		a.index_req:hover{color:white}
		a.index_noreq{text-decoration:none; font-weight:normal; color:blue}
		/*a.index_noreq{margin-left:1em}*/
		a.index_noreq:hover{background-color:blue}
		a.index_noreq:hover{color:white}
		a.index_edit{text-decoration:none; font-weight:normal; color:grey}
		a.index_edit{margin-right:1em}
		a.index_edit:hover{color:black}
		a.index_delete{text-decoration:none; font-weight:normal; color:grey}
		a.index_delete{margin-right:1em}
		a.index_delete:hover{color:red}
		div.index_filter{text-align:center}
		div.torrent_delete{text-align:center}
		p.pagenum_top{color:blue; text-align:center}
		p.pagenum_bottom{color:blue; text-align:center}
		p.pagenum_top_bar{color:blue; text-align:center; white-space:normal}
		p.subfilter{color:blue; text-align:center}
		form.search_index_top{text-align:center}
		form.search_index{text-align:center}
		p.no_files{text-align:center; font-size:large; color:Red}
		span.filtered_by_search{background-color:darkmagenta}
		span.filtered_by_search{padding-left:3px; padding-right:3px}
		span.filtered_by_search{color:white}
		span.filtered_by_tag{background-color:royalblue}
		span.filtered_by_tag{padding-left:3px; padding-right:3px}
		span.filtered_by_tag{color:white}
		span.filtered_by_medium{background-color:darkgoldenrod}
		span.filtered_by_medium{padding-left:3px; padding-right:3px}
		span.filtered_by_medium{color:white}
		span.filtered_by_quality{background-color:brown}
		span.filtered_by_quality{padding-left:3px; padding-right:3px}
		span.filtered_by_quality{color:white}
		span.filtered_by_encode{background-color:seagreen}
		span.filtered_by_encode{padding-left:3px; padding-right:3px}
		span.filtered_by_encode{color:white}
		span.filtered_by_mode{background-color:olive}
		span.filtered_by_mode{padding-left:3px; padding-right:3px}
		span.filtered_by_mode{color:white}
		span.hot{color:red; font-weight:bold}
		span.index_hot{color:red; font-weight:bold}
		span.index_hot{margin-left:0.5em}
		span.new{color:red; font-weight:bold}
		span.new{margin-right:0.5em}
		span.req{color:red; font-weight:bold}
		span.req{margin-right:0.5em}
		span.classic_level_1{color:#9400d3; font-weight:bold}
		span.classic_level_2{color:#820084; font-weight:bold}
		span.classic_level_3{color:#77b300; font-weight:bold}
		span.classic{color:black; font-weight:bold}
		span.classic{margin-left:0.5em}
		span.top{color:red; font-weight:bold}
		span.top{margin-right:0.5em}
		span.number6{font-size:8pt; color:black}
		span.number6{vertical-align:middle}
		span.number6_red{font-size:8pt; color:red}
		span.number6_red{vertical-align:middle}
		span.number6_green{font-size:8pt; color:green}
		span.number6_green{vertical-align:middle}
		span.number6_blue{font-size:8pt; color:blue}
		span.number6_blue{vertical-align:middle}
		span.free_down_free{background-color:blue}
		span.free_down_free{padding-left:3px; padding-right:3px}
		span.free_down_free{margin-left:0.5em}
		span.free_down_free{color:white}
		span.free_down_free{font-size:8pt}
		span.free_down{background-color:darkorange}
		span.free_down{padding-left:3px; padding-right:3px}
		span.free_down{margin-left:0.5em}
		span.free_down{color:white; font-size:8pt}
		span.free_up{background-color:green}
		span.free_up{padding-left:3px; padding-right:3px}
		span.free_up{margin-left:0.5em}
		span.free_up{color:white; font-size:8pt}
		span.free_recover{margin-left:0.5em}
		span.index_thanks{color:grey}
		span.index_thanks{margin-left:1em}
		span.index_thanks_count{color:grey}
		span.index_comments{color:grey}
		span.index_comments{margin-left:1em}
/* ----- users.html ----- */
	/* ----- navbar ----- */
					
		/* ----- specific ----- */
		p.pagenum_top_users{text-align:center}
		p.pagenum_bottom_users{text-align:center; color:blue; white-space:normal}
		p.pagenum_top_bar_users{text-align:center}
		form.search_users_top{text-align:center}
		form.search_users{text-align:center}
		p.search_users{text-align:center}
		p.no_users{color:red; font-size:large; text-align:center}
		div.users_table{text-align:center}
		div.create_users{text-align:center}
		div.input_create_users{text-align:left}
		div.create_users_buttons{text-align:center}
		div.edit_users{text-align:center}
		div.edit_users_button{text-align:center}
/*		div.edit_input_users{text-align:left}*/
		table.create_users{border:0px solid #ccccff}
		table.edit_users{border:0px solid #ccccff}
		th.username{padding:5px 5px 5px 5px}
		th.access{padding:5px 5px 5px 5px}
		th.group{padding:5px 5px 5px 5px}
		th.mail{padding:5px 5px 5px 5px}
		th.create_users{vertical-align:top; white-space:nowrap}
		th.create_users{padding:5px 10px 5px 10px}
		th.edit_users{vertical-align:top; white-space:nowrap}
		th.edit_users{padding:5px 10px 5px 10px}
		tr.create_users{}
		tr.edit_users{}
		td.create_users{text-align:left; white-space:normal}
		td.edit_users{text-align:left; white-space:normal}
		td.username{padding:5px 5px 5px 5px}
		td.access{padding:5px 5px 5px 5px}
		td.group{padding:5px 5px 5px 5px}
		td.mail{padding:5px 5px 5px 5px}
		td.username{text-align:left}
		p.return_users{text-align:center}
		p.gen_users{text-align:center}
		p.html_valid_users{text-align:center}
		p.failed_message_users{text-align:center}
		p.created_message_users{text-align:center}
		p.create_users{text-align:center}
		p.edit_users{text-align:left}
		p.deleted_users{text-align:center}
		span.search_users{}
		hr.users_hr{}

/* ----- login.html ----- */
	/* ----- navbar ----- */
					
	/* ----- specific ----- */
		table.user_main{width:100%}
		table.user_main_talk{width:100%}
		div.bonus_function{text-align:center}
		p.bonustrade{text-align:center}
		p.invite{text-align:center}
		form.search_login_top{text-align:center}
		form.search_login{text-align:center}
		p.logout{text-align:center}
		div.login_table{text-align:center}
		div.login_button{text-align:center}
		p.return_login{text-align:center}
		p.gen_login{text-align:center}
		p.html_valid_login{text-align:center}
		form.get_user_perpage{text-align:center}
		tr.user_main{border:0px}
		tr.user_main{background-color:#f5f4eb}
		tr.user_detail{background-color:#f5f4eb}
		th.user_table{white-space:nowrap}
		div.user_table{margin:5px 0px 5px 0px}
		td.user_main_table{text-align:center; vertical-align:top}
		td.user_main_table{border:0px}
		td.user_main_table{padding:5px 0px 5px 0px}
		td.user_main_detail{border:0px}
		td.user_main_detail{width:100%}
		td.user_main_detail{vertical-align:top}
		td.user_table{text-align:left}
		td.user_detail{border:0px}
		td.torrent_name{text-align:left; white-space:normal}
		td.torrent_name{padding:5px 5px 5px 5px}
		td.torrent_name{border-width:1px 0px 1px 0px}
		th.share{border-width:1px 0px 1px 0px}
		td.share{font-size:9pt}
		td.share{text-align:center}
		td.share{padding:5px 5px 5px 5px}
		td.share{border-width:1px 0px 1px 0px}
		div.user_main_talk{border-left:1px solid #ccccff}
		div.user_main_talk{border-right:1px solid #ccccff}
		div.user_main_talk{margin:5px 0px 5px 0px}
		tr.preferences{}
		td.preferences{text-align:left}

/* ----- log.html ----- */
	/* ----- specific ----- */
		a.log{text-decoration:none; color:blue}
		p.logtitle{text-align:left}
		p.logtitle{font-size:15px; font-weight:bold}
		table.log_main{width:800px}
		table.log_table{width:100%}
		table.log_table{border:0px}
		td.log_top{padding:0px 0px 0px 0px}
		td.log_title{background-color:#f5f4eb}
		td.log_title{border:0px}
		td.log_title{padding:0px 0px 0px 0px}
		td.log_table{border:0px}
		td.log_table{padding:0px 0px 0px 0px}
		td.log_name{border:0px}
		td.log_name{width:100%}
		td.log_content{white-space:normal; word-wrap:break-word}

/* ----- admin.html ----- */
	/* ----- navbar ----- */
					
	/* ----- specific ----- */
		a.tracker_reset{color:red}
		a.tracker_reset:hover{color:white}
		a.tracker_kill{color:red}
		a.tracker_kill:hover{color:white}			
		a.count_peers{color:red}
		a.count_peers:hover{color:white}
		p.tracker_kill{text-align:center}
		p.tracker_kill_warning{color:red; font-size:large; text-align:center}
		p.updated_rss{text-align:center}
		p.update_rss_files{text-align:center}
		p.admin_free_rule{text-align:right}
		p.admin_access{text-align:right}
		p.admin_add_gift{text-align:left}
		tr.admin_functions{background-color:#f5f4eb}
		td.admin_functions{border:0px}
		td.admin_function{text-align:center}
		td.admin_free_rule{text-align:left}
		td.tracker_link_type{text-align:center; background-color:#dee3e7}
		td.tracker_connection{text-align:center; background-color:#efefef}
		td.tracker_reset{text-align:center}
		div.admin_table{text-align:center}
		div.admin_access{text-align:center}
		p.return_admin{text-align:center}
		p.gen_admin{text-align:center}
		p.html_valid_admin{text-align:center}	
		p.admin_links_message{text-align:center}
		p.admin_not_owner{text-align:center}
		p.button_list{text-align:center}
		
/* ----- comments.html ----- */
	/* ----- navbar ----- */
				
	/* ----- specific ----- */
		p.return_comments{text-align:center}
		p.gen_comments{text-align:center}
		p.html_valid_comments{text-align:center}
		div.comments_table{text-align:center}
		tr.com_body{background-color:#dee3e7}
		tr.com_header{background-color:#f5f4eb}
		td.com_body{text-align:left; white-space:normal; word-wrap:break-word}
		td.com_header{width:100%}
		td.com_header{text-align:left}
		td.com_header{border:0px}
		td.com_floor{text-align:right}
		td.com_floor{border:0px}
		div.comments_table_posted{text-align:center}
		p.comments_table_posted{text-align:center}
		table.comments_table_posted{width:600px}
		p.comments_posted{text-align:center}
		p.fill_all{text-align:center}
		div.comments_info_table{text-align:center}
		p.comments_info_table{text-align:center}
		table.comments_info_table{border:0px solid #ccccff}
		tr.comments_info_table{}
		td.comments_info_table{text-align:left}
		div.comments_table{text-align:center}
		p.comments_table{text-align:center}
		table.comments_table{}
		tr.comments_table{}
		td.comments_table{text-align:left}
		div.comments_table_post{text-align:center}
		p.comments_table_post{text-align:center}
		table.comments_table_post{border:0px solid #ccccff}
		tr.comments_table_post{}
		td.comments_table_post{text-align:left}
		div.comments_table_post_button{text-align:center}	
		
/* ----- talk.html ----- */
	/* ----- navbar ----- */
				
	/* ----- specific ----- */
		p.return_talk{text-align:center}
		p.gen_talk{text-align:center}
		p.html_valid_talk{text-align:center}
		div.talk_table_posted{text-align:center}
		div.talk_table_posted{margin-left:auto; margin-right:auto}
		div.talk_table_posted{padding:10px 10px 10px 10px}
		div.talk_table_posted{width:600px}
		div.talk_table_posted{background-color:#eeeeff}
		table.talk_table_posted{width:600px}
		table.talk_table_posted{table-layout:fixed}
		table.talk_table_reply{width:100%}
		tr.talk_body{background-color:#eeeeff}
/*		tr.talk_body:hover{background-color:#dee3e7}*/
		td.talk_body{width:100%}
		td.talk_body{text-align:left}
		td.talk_body{border-left:0px; border-right:0px}
		td.talk_body{padding:5px 5px 5px 5px}
		td.talk_body{white-space:normal; word-wrap:break-word}
		tr.talk_body_reply{background-color:#dee3e7}
/*		tr.talk_body_reply:hover{background-color:#dee3e7}*/
		td.talk_body_reply{text-align:left}
		td.talk_body_reply{border-left:0px; border-right:0px; border-top:1px solid #ccccff; border-bottom:0px}
		td.talk_body_reply{padding:5px 5px 5px 5px}
		td.talk_body_reply{white-space:normal; word-wrap:break-word}
		span.talk_header{margin-right:0.5em}
		div.talk_function{float:right}
		p.talk_table_posted{text-align:center}
		p.talk_posted{text-align:center}
		p.fill_all{text-align:center}
		div.talk_table{text-align:center}
		p.talk_table{text-align:center}
		table.talk_table{}
		tr.talk_table{}
		td.talk_table{text-align:left}
		div.talk_table_post{text-align:center}
		p.talk_table_post{text-align:center}
		table.talk_table_post{width:600px}
		table.talk_table_post{table-layout:fixed}
		textarea.talk{width:594px}
/*		td.talk_table_header{width:100%}*/
		td.talk_table_header{text-align:left}
		td.talk_table_header{padding:0px 0px 0px 0px}
		td.talk_table_header{border:0px}
		td.talk_table_left{text-align:right}
		td.talk_table_left{padding:0px 0px 0px 0px}
		td.talk_table_left{border:0px}
		td.talk_table_tag{text-align:left}
		td.talk_table_tag{padding:0px 0px 0px 0px}
		td.talk_table_tag{border:0px}
		tr.talk_table_post{background-color:#f5f4eb}
		td.talk_table_post{text-align:left}
		td.talk_table_post{padding:0px 0px 0px 0px}
		td.talk_table_post{border:0px}
		div.talk_table_rt{background-color:#dedeff}
		div.talk_table_rt{border:1px dashed purple}
		div.talk_table_rt{margin:5px 5px 5px 5px}
		div.talk_table_rt{padding:5px 5px 5px 5px}
		div.talk_table_rt{font-style:italic}
		div.talk_table_rt{white-space:normal; word-wrap:break-word}
		div.talk_table_post_button{text-align:right}
		td.talk_function{padding:5px 5px 5px 5px}
		span.talk_table_header{font-weight:bold}
		span.talk_table_header{color:purple}
		span.talk_table_left{font-weight:bold}
		span.talk_table_hint{font-style:italic}
		span.talk_reply_hint{font-style:italic}
		span.talk_reply_hint{margin-left:1em}
		a.talk_time{font-size:8pt; font-weight:normal; text-decoration:none; color:grey}
		a.talk_time{border-bottom:1px dotted}
		a.talk_time:hover{border-bottom:1px solid}
		a.talk_time:hover{color:purple}
		a.talk_link{color:#808028}
		a.talk_link:hover{color:white; text-decoration:none}
		a.talk_link:hover{background-color:#808028}
		a.talk_tag{color:purple; text-decoration:none}
		a.talk_tag:hover{color:white; text-decoration:none}
		a.talk_tag:hover{background-color:purple}
		a.talk_torrent_link{color:purple; text-decoration:none}
		a.talk_torrent_link{border-bottom:1px dotted}
		a.talk_torrent_link:hover{color:white; text-decoration:none}
		a.talk_torrent_link:hover{background-color:purple}
		a.talk_torrent{color:purple; text-decoration:none}
		a.talk_torrent:hover{color:white}
		a.talk_torrent:hover{background-color:purple}
		a.talk_reply_link{font-size:8pt; font-weight:normal; text-decoration:none; color:#808028}
		a.talk_reply_link{border-bottom:1px dotted}
		a.talk_reply_link{margin-left:0.5em}
		a.talk_reply_link:hover{border-bottom:1px solid}
		a.talk_reply_link:hover{color:purple}
		a.talk_reply_times{font-size:8pt; font-weight:normal; text-decoration:none; color:#808028}
		a.talk_reply_times{border-bottom:1px dotted}
		a.talk_reply_times{margin-left:0.5em}
		a.talk_reply_times:hover{border-bottom:1px solid}
		a.talk_reply_times:hover{color:purple}
		a.talk_rt_link{font-size:8pt; font-weight:normal; text-decoration:none; color:#808028}
		a.talk_rt_link{border-bottom:1px dotted}
		a.talk_rt_link{margin-left:0.5em}
		a.talk_rt_link:hover{border-bottom:1px solid}
		a.talk_rt_link:hover{color:purple}
		a.talk_reply{font-size:8pt; font-weight:normal; text-decoration:none; color:purple}
		a.talk_reply{border-bottom:1px dotted}
		a.talk_reply{margin-left:0.5em}
		a.talk_reply:hover{color:white}
		a.talk_reply:hover{background-color:purple}
		a.talk_rt{font-size:8pt; font-weight:normal; text-decoration:none; color:purple}
		a.talk_rt{border-bottom:1px dotted}
		a.talk_rt{margin-left:0.5em}
		a.talk_rt:hover{color:white}
		a.talk_rt:hover{background-color:purple}
		a.talk_delete{font-size:8pt; font-weight:normal; text-decoration:none; color:red}
		a.talk_delete{border-bottom:1px dotted}
		a.talk_delete{margin-left:0.5em}
		a.talk_delete:hover{color:white}
		a.talk_delete:hover{background-color:red}
		a.talk_more{font-size:9pt; color:purple}
		a.talk_more:hover{color:white}
		a.talk_more:hover{background-color:purple}
		div.talk{text-align:left}
		div.talk_reply{text-align:center}
		div.talk_reply{background-color:#dee3e7}
		div.talk_reply{border:1px dotted purple}
		div.talk_reply{margin:5px 5px 5px 5px}
		div.talk_reply{padding:5px 5px 5px 5px}
		div.talk_rt{background-color:#dedeff}
		div.talk_rt{border:1px dashed purple}
		div.talk_rt{margin:5px 5px 5px 5px}
		div.talk_rt{padding:5px 5px 5px 5px}
		div.talk_torrent{background-color:#faffe0}
		div.talk_torrent{border:1px solid #fffcaa}
		div.talk_torrent{margin:5px 5px 5px 5px}
		div.talk_torrent{padding:5px 5px 5px 5px}
		div.talk_reply_form{text-align:left}
		div.talk_reply_history{background-color:#faffe0}
		div.talk_reply_history{border:1px solid #fffcaa}
/*		div.talk_reply_history{margin:5px 5px 5px 5px}*/
		div.talk_reply_history{padding:5px 5px 5px 5px}
		div.talk_reply_to_talk{background-color:#faffe0}
		div.talk_reply_to_talk{border:1px solid #fffcaa}
/*		div.talk_reply_to_talk{margin:5px 5px 5px 5px}*/
		div.talk_reply_to_talk{padding:5px 5px 5px 5px}
		div.talk_user{background-color:#faffe0}
		div.talk_user{border:1px solid #fffcaa}
/*		div.talk_user{margin:5px 5px 5px 5px}*/
		div.talk_user{padding:5px 5px 5px 5px}
		div.talk_tag{background-color:#faffe0}
		div.talk_tag{border:1px solid #fffcaa}
/*		div.talk_tag{margin:5px 5px 5px 5px}*/
		div.talk_tag{padding:5px 5px 5px 5px}
		span.talk_tag{font-weight:bold; color:purple}
		span.talk_torrent{font-size:8pt}
		span.talk_reply{font-size:8pt; color:#808028}
		span.talk_reply{margin-left:0.5em}
		span.talk_reply_times{font-size:8pt; color:#808028}
		span.talk_reply_times{margin-left:0.5em}
		span.talk_rt_times{font-size:8pt; color:#808028}
		span.talk_rt_times{margin-left:0.5em}

/* ----- messages.html ----- */
		table.messages_table_posted{width:800px}
		tr.messages_read{background-color:#dee3e7}
		tr.messages_body{background-color:#dee3e7}
		td.messages_body{white-space:normal; word-wrap:break-word}
		td.messages_title{width:100%}
		td.messages_delete{text-align:right}
		p.messages_table_post{text-align:center}
		p.messages_table_posted{text-align:center}
		p.messages_posted{text-align:center}
		div.messages_table_post_button{text-align:center}	

/* ----- info.html ----- */
	/* ----- navbar ----- */
				
	/* ----- specific ----- */
		a.post{font-size:9pt; color:purple; text-decoration:none}
		a.post:hover{text-decoration:underline}
		table.post_info_table{width:100%}
		table.post_table{width:100%}
		div.info_table{text-align:center}
		p.changed_post{text-align:center}
		p.return_info{text-align:center}
		p.gen_info{text-align:center}
		p.html_valid_info{text-align:center}
		tr.post_info{background-color:#f5f4eb}
		tr.postheader{background-color:#efefef}
		tr.postheader_read{background-color:#dee3e7}
		tr.postheader_read{border:1px solid #ccccff}
		td.post{border:0px}
		td.post{width:100%}
		td.post{padding-right:0px}
		td.post{vertical-align:top}
		td.posttime{border:0px}
		td.posttime{padding:5px 5px 5px 5px}
		td.postname{border:0px}
		td.postname{width:100%}
		td.postname{padding:5px 5px 5px 5px}
		td.postadmin{border:0px}
		td.postadmin{padding:5px 5px 5px 5px}
		td.postcontent{white-space:normal}
		td.postcontent{background-color:#dee3e7}
		td.info{border:0px}
		td.info{padding-left:0px}
		td.info{vertical-align:top}
		td.info_field{text-align:left}
		th.info_field{text-align:right}
		th.info_field{white-space:nowrap}
		
/* ----- announcements.html ----- */
	/* ----- specific ----- */
		table.post_table_admin{width:600px}
		div.change_post{text-align:center}
		div.change_post_button{text-align:center}
		td.change_post{text-align:left}
		td.change_post{white-space:normal}
		td.change_post{word-wrap:break-word}
		th.change_post{text-align:right}
		th.change_post{vertical-align:top}
		th.change_post{white-space:nowrap}
		th.change_post{padding:5px 10px 5px 10px}
		
/* ----- votes.html ----- */
	/* ----- specific ----- */
/*		td.vote{text-align:center}*/
		table.vote_table{width:300px}
		table.vote_table{table-layout:fixed}
		tr.voteoptioned{color:blue; font-weight:bold}
		td.vote{white-space:normal; word-wrap:break-word}
		td.voteinput{text-align:left}
		td.voteinput{border:0px}
		td.voteoption{border:0px}
		td.votecount{text-align:left}
		td.votecount{border:0px}
		p.votetitle{text-align:center}
		p.votetitle{font-weight:bold; font-size:12px}
		p.votebonus{text-align:center}
		p.votebutton{text-align:center}
		p.votetotal{text-align:center}
		p.votetotal{font-size:12px}

/* ----- rules.html ----- */
	/* ----- specific ----- */
		div.change_rules{text-align:center}
		div.change_rules_button{text-align:center}
		a.rules{text-decoration:none; color:blue}
		p.rulestitle{text-align:left}
		p.rulestitle{font-size:15px; font-weight:bold}
		p.change_rules_input{text-align:left}
		p.changed_rules{text-align:center}
		table.rules_main{width:800px}
		table.rules_table{width:100%}
		table.rules_table{border:0px}
		td.change_rules{text-align:left; white-space:normal; word-wrap:break-word}
		th.change_rules{text-align:right; vertical-align:top; white-space:nowrap}
		th.change_rules{padding:5px 10px 5px 10px}
		td.rules_top{padding:0px 0px 0px 0px}
		td.rules_title{background-color:#f5f4eb}
		td.rules_title{border:0px}
		td.rules_title{padding:0px 0px 0px 0px}
		td.rules_table{border:0px}
		td.rules_table{padding:0px 0px 0px 0px}
		td.rules_name{border:0px}
		td.rules_name{width:100%}
		td.rules_admin{border:0px}
		td.rules_admin{text-align:center}
		td.rules_content{white-space:normal; word-wrap:break-word}
		
/* ----- faq.html ----- */
	/* ----- specific ----- */
		div.change_faq{text-align:center}
		div.change_faq_button{text-align:center}
		a.faq{text-decoration:none; color:blue}
		p.faqtitle{text-align:left}
		p.faqtitle{font-size:15px; font-weight:bold}
		p.change_faq_input{text-align:left}
		p.changed_faq{text-align:center}
		table.faq_main{width:800px}
		table.faq_table{width:100%}
		table.faq_table{border:0px}
		td.change_faq{text-align:left; white-space:normal; word-wrap:break-word}
		th.change_faq{text-align:right; vertical-align:top; white-space:nowrap}
		th.change_faq{padding:5px 10px 5px 10px}
		td.faq_top{padding:0px 0px 0px 0px}
		td.faq_title{background-color:#f5f4eb}
		td.faq_title{border:0px}
		td.faq_title{padding:0px 0px 0px 0px}
		td.faq_table{border:0px}
		td.faq_table{padding:0px 0px 0px 0px}
		td.faq_name{border:0px}
		td.faq_name{width:100%}
		td.faq_admin{border:0px}
		td.faq_admin{text-align:center}
		td.faq_content{white-space:normal}
		td.faq_content{word-wrap:break-word}

/* ----- messages.html ----- */
	/* ----- specific ----- */		
		th.messages_table_post{text-align:right; vertical-align:top; white-space:nowrap}
		th.messages_table_post{padding:5px 10px 5px 10px}

/* ----- staff.html ----- */
	/* ----- specific ----- */
		table.staff_main{width:800px}
		table.staff_table{width:100%}
		table.staff_table{border:0px}
		p.stafftitle{text-align:left}
		p.stafftitle{font-size:15px; font-weight:bold}
		td.staff_title{background-color:#f5f4eb}
		td.staff_title{border:0px}
		td.staff_title{padding:0px 0px 0px 0px}
		td.staff_table{padding:0px 0px 0px 0px}
		td.staff{border:0px}

/* ----- stats.html ----- */
	/* ----- navbar ----- */
					
	/* ----- specific ----- */
		div.stats_table{text-align:center}	
		p.contents{}
		p.seeders{}
		p.file_comment{}
		p.file_info{}
		table.file_info{width:800px}
		table.change_info{width:800px}
		table.change_info{border:0px solid #ccccff}
		table.changed_stats{border:0px solid #ccccff}
	/*	table.file_info{background-color:#efefef}*/
		td.file_info{text-align:left; white-space:normal; word-wrap:break-word}
		td.file_info{width:100%}
		th.file_info{text-align:right; vertical-align:top; white-space:nowrap}
		th.file_info{padding:5px 10px 5px 10px}
		span.file_info{font-weight:bold}
		td.change_info{text-align:left; white-space:normal; word-wrap:break-word}
		td.change_info{width:100%}
		th.change_info{text-align:right; vertical-align:top; white-space:nowrap}
		th.change_info{padding:5px 10px 5px 10px}
		tr.file_comment{background-color:#dee3e7}
		td.file_comment{text-align:left}
		p.return_stats{text-align:center}
		p.gen_stats{text-align:center}
		p.html_valid_stats{text-align:center}
		div.changed_stats{text-align:center}
		li.changed_stats{text-align:left}
		p.changed_stats{text-align:center}
		div.change_info{text-align:center}
		div.change_info_button{text-align:center}
		p.change_info{}
		a.dynstat_link{}
		a.dynstat_link:hover{color:green}
		a.download_link{text-decoration:none}
		a.download_link:hover{color:red; text-decoration:underline}
		a.delete_link:hover{color:red}
		a.req{color:red; text-decoration:none}
		a.req:hover{text-decoration:underline}
		a.noreq{color:blue; text-decoration:none}
		a.noreq:hover{text-decoration:underline}
		td.path{text-align:left}
		td.ip{text-align:center}
		td.ip{padding:5px 5px 5px 5px}
		td.ip{border-width:1px 0px 1px 0px}
		td.client{padding:5px 5px 5px 5px}
		td.client{border-width:1px 0px 1px 0px}
		td.percent{padding:5px 5px 5px 5px}
		td.percent{border-width:1px 0px 1px 0px}
		td.updated{padding:5px 5px 5px 5px}
		td.updated{border-width:1px 0px 1px 0px}
		td.connected{text-align:right}
		td.connected{padding:5px 5px 5px 5px}
		td.connected{border-width:1px 0px 1px 0px}
		th.ip{background-color:#8080ff}
		th.ip{border-width:1px 0px 1px 0px}
		th.client{background-color:#8080ff}
		th.client{border-width:1px 0px 1px 0px}
		th.updated{border-width:1px 0px 1px 0px}
		th.connected{background-color:#8080ff}
		th.connected{border-width:1px 0px 1px 0px}
		hr.stats_hr{}
		td.upload_sub{padding:0px 0px 0px 0px}
		table.subs{width:100%}
		tr.subs{padding:0px 0px 0px 0px}
		td.subs{border:0px}
		td.subs{text-align:left}
		td.subs{padding:0px 0px 0px 0px}
		a.sub_link{text-decoration:none}
		span.subs_imdb{color:purple}
		span.sub_name{color:blue}
		table.stats_version{width:100%}
		td.file_info_version{text-align:center}
		td.torrent_name_version{width:100%}
		td.torrent_name_version{text-align:left; white-space:normal}
		td.torrent_name_version{padding:5px 5px 5px 5px}
		td.torrent_name_version{border-width:1px 0px 1px 0px}
		
/* ----- upload.html ----- */
	/* ----- navbar ----- */
					
	/* ----- specific ----- */
		a.failed{color:blue; font-size:x-large}
		p.failed{color:red; font-size:x-large}
		p.failed{text-align:center}
		p.success{color:green; font-size:x-large}
		p.success{text-align:center}
		p.return{text-align:center}
		div.seeding_instructions{text-align:center}
		table.seeding_instructions{border:0px solid #ccccff}
		table.seeding_instructions_note{border:0px solid #ccccff}
		p.seeding_instructions_head{font-size:large}
		p.seeding_instructions_head{text-align:center}
		p.seeding_instructions_lead{text-align:left}
		p.seeding_instructions{text-align:center}
		li.seeding_instructions{text-align:left}
		p.return_upload{text-align:center}
		p.gen_upload{text-align:center}
		p.html_valid_upload{text-align:center}
		p.body_upload{text-align:center}
		div.torrent_upload{text-align:center}
		p.torrent_upload{text-align:left}
		p.torrent_upload_category{text-align:left}
		table.torrent_upload{border:0px solid #ccccff}
		table.torrent_upload{width:800px}
		td.torrent_upload{text-align:left; white-space:normal; word-wrap:break-word}
		td.torrent_upload{width:100%}
		th.torrent_upload{text-align:right; white-space:nowrap}
		th.torrent_upload{vertical-align:top}
		th.torrent_upload{padding:5px 10px 5px 10px}
		li.torrent_upload{text-align:left; font-weight:normal}
		li.announce{text-align:left}
	
/* ----- signup.html ----- */
	/* ----- navbar ----- */
					
	/* ----- specific ----- */	
		div.signup_form_button{text-align:center}
		div.signup_input{text-align:left}
		li.signup{text-align:left}
		p.signup_form{text-align:left}
		p.signup_form_header{text-align:center}		
		p.signup_form_button{text-align:left}
		p.return_signup{text-align:center}
		p.gen_signup{text-align:center}
		p.html_valid_signup{text-align:center}
		p.signup_failed{text-align:center}
		p.signup_ok{text-align:center}
